<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form method="POST">
            <label for="student_name">Enter your name:</label>
            <input type="text" id="student_name" name="student_name" required>
            <button type="submit">Register</button>
            
        </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <p>Already a user?</p>
        <a href="{{ url_for('login') }}">
            <button>Login</button>
        
    </div>
    
</body>
</html>
